# diretório de css compilados a partir do SASS
webapp/library/css

# diretório com os módulos instalados pelo npm
webapp/node_modules

# cache gerado pela compilação do sass através do grunt
webapp/.sass-cache