.game {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 100%;
}

.game-area,
.controls {
  aspect-ratio: 1/1;
  background-color: #2e3082;
  background: linear-gradient(150deg,rgba(46, 48, 130, .15) 0%, rgba(46, 48, 130, .6) 30%, rgba(46, 48, 130, .85) 60%, rgba(46, 48, 130, 1) 100%);
  border-radius: 4px;
}

.game-area {
  margin-bottom: 20px;
  height: calc(60% - 10px);
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(40% - 10px);
  justify-content: center;
}

.controls-up,
.controls-down {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.controls-up {
  align-items: last baseline;
}

.controls-down {
  align-items: first baseline;
}

.button {
  border-radius: 4px;
  background: linear-gradient(150deg,rgba(250, 157, 70, .6) 0%, rgba(250, 157, 70, .8) 30% 100%);
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: 300ms ease-in-out;
  opacity: 1;
}

.button:active {
  transform: scale(1);
}

.button-blue {
  background: linear-gradient(150deg,rgba(46, 48, 130, .6) 0%, rgba(46, 48, 130, .8) 30% 100%);
  color: white;
}

.controls-button {
  align-items: center;
  aspect-ratio: 1/1;
  color: #2e3082;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: 10px;
  padding: 0;
  width: calc(33% - 20px);
}

.button-virtual-buttons {
  display: none;
}

@media (min-width: 768px) {
  .game-area {
    height: calc(90% - 10px);
    margin-bottom: 0;
  }

  .button-virtual-buttons {
    align-items: center;
    display: flex;
    margin-top: 10px;
    flex-flow: row;
    justify-content: space-between;
  }

  .controls {
    aspect-ratio: auto;
    bottom: 10px;
    height: 200px;
    position: fixed;
    right: 10px;
    width: 300px;
  }
}
